
body {
  font-size: 16px;
  color: #fff;
  background-color: #1e90ff;
  font-family: 'Oxygen', sans-serif;
}
/** HEADER **/
#header-nav {
  background-color: #ff6347;
  border-radius: 0;
  border: 0;
    margin-bottom: 10px;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/*****header****/
.row {
    width: 100%;
  }
  .section {
      position: relative;
      width: 95%;
      border: 1px solid #ff6347;
      background-color:#d3d3d3;
      margin:2.5% auto 2.5% auto;
      padding-top: 0px;
  }
  .section-title {
      position: relative;
      color:#a52a2a;
      width: 30%;
      height: 10%;
      text-align: center;
      font-family: Helvetica;
      font-size: 1.5em;
      padding-top: 2px;
      margin: auto;
  }
  .paragraph{
    position: relative;
    width: 95%;
    height: 100%;
    font-family: Helvetica;
    color:#3cb371;
  }
